/* .main-div {
    font-family: arial sans-serif;
    margin: 20px;
    height: 100vh; 
    background-color: #f7f7f7;
}

.inner-div {
    margin: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.element {
    padding: 10px;
}

.btn {
    padding: 20px;
} */